tags/milestone2/tools/xsddoc-1.0/samples/xsddoc/xsddoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:doc="http://xframe.sf.net/xsddoc/doc" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xframe.sf.net/xsddoc/doc" elementFormDefault="qualified">
  <xs:annotation>
		<xs:documentation>This schema describes the XML structure of XML documentation generated bx xsddoc.</xs:documentation>
	</xs:annotation>
	<xs:element name="xsddoc">
		<xs:annotation>
			<xs:documentation>Root element of XML documentation of a W3C XML Schema generated by xsddoc.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="component" type="doc:componentType"/>
				<xs:element name="overview" type="doc:overviewType"/>
				<xs:element name="index" type="doc:indexType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="overview-namespaces">
		<xs:annotation>
			<xs:documentation>Root element of namespaces overview page.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="namespace" type="doc:namespaceType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="schema-summary">
		<xs:annotation>
			<xs:documentation>Root element of schema summary page.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="namespace" type="doc:namespaceType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="namespaceType">
		<xs:sequence>
			<xs:element name="documentation" type="doc:documentationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="href" type="xs:anyURI" use="required"/>
	</xs:complexType>
	<xs:complexType name="overviewType">
		<xs:annotation>
			<xs:documentation>Container for overviews.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="component" type="doc:modelType" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="doc:attributes.type"/>
	</xs:complexType>
	<xs:complexType name="indexType">
		<xs:annotation>
			<xs:documentation>Container for schema indices.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="component" type="doc:componentType" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="doc:attributes.type"/>
	</xs:complexType>
	<xs:complexType name="componentType">
		<xs:annotation>
			<xs:documentation>Container for component descriptions.</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:choice>
				<xs:element name="model" type="doc:modelType" minOccurs="0"/>
				<xs:element name="superTypes" type="doc:superTypes" minOccurs="0"/>
				<xs:element name="subTypes" type="doc:subTypes" minOccurs="0"/>
				<xs:element name="implementors" type="doc:implementors" minOccurs="0"/>
				<xs:element name="typeReference" type="doc:typeReference" minOccurs="0"/>
				<xs:element name="source" type="doc:sourceType" minOccurs="0"/>
				<xs:element name="documentation" type="doc:documentationType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="name" type="xs:NCName" use="required"/>
		<xs:attribute name="type" type="doc:componentTypeType" use="required"/>
		<xs:attribute name="namespace" type="xs:string" use="required"/>
		<xs:attribute name="form" type="xs:string" use="optional"/>
		<xs:attribute name="block" type="xs:string" use="optional"/>
		<xs:attribute name="final" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="superTypes">
		<xs:annotation>
			<xs:documentation>List of super type chain.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="doc:baseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Super types hierarcha as a flat list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="subTypes">
		<xs:annotation>
			<xs:documentation>Tree of derived types.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="doc:typeNode" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>direct derived types.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="implementors">
		<xs:annotation>
			<xs:documentation>List of all implementors of a simpleType or complexType.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="doc:baseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of direct implementors.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="typeReference">
		<xs:annotation>
			<xs:documentation>List of components using a type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="doc:baseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of refering components.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="modelType">
		<xs:annotation>
			<xs:documentation>Resolved content model</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:choice>
				<xs:element name="sequence" type="doc:modelType"/>
				<xs:element name="choice" type="doc:modelType"/>
				<xs:element name="all" type="doc:modelType"/>
				<xs:element name="element" type="doc:modelType"/>
				<xs:element name="attribute" type="doc:attribute"/>
				<xs:element name="simpleType" type="doc:modelType"/>
				<xs:element name="complexType" type="doc:modelType"/>
				<xs:element name="restriction" type="doc:modelType"/>
				<xs:element name="whiteSpace" type="doc:modelType"/>
				<xs:element name="pattern" type="doc:modelType"/>
				<xs:element name="enumeration" type="doc:modelType"/>
				<xs:element name="fractionDigits" type="doc:modelType"/>
				<xs:element name="length" type="doc:modelType"/>
				<xs:element name="maxExclusive" type="doc:modelType"/>
				<xs:element name="maxInclusive" type="doc:modelType"/>
				<xs:element name="maxLength" type="doc:modelType"/>
				<xs:element name="minExclusive" type="doc:modelType"/>
				<xs:element name="minInclusive" type="doc:modelType"/>
				<xs:element name="minLength" type="doc:modelType"/>
				<xs:element name="totalDigits" type="doc:modelType"/>
				<xs:element name="documentation" type="xs:anyType"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="occurs" type="doc:occursType" use="optional"/>
		<xs:attribute name="name" type="xs:Name" use="optional"/>
		<xs:attribute name="type" type="xs:Name" use="optional"/>
		<xs:attribute name="href" type="xs:anyURI" use="optional"/>
		<xs:attribute name="namespace" type="xs:anyURI" use="optional"/>
		<xs:attribute name="base" type="xs:Name" use="optional"/>
		<xs:attribute name="value" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="occursType">
		<xs:annotation>
			<xs:documentation>Occurs can be either of the DTD symbols
      '*','+', '?' or empty, or an occurance string similar to regex
      of the form '{' integer ',' integer '}'.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(\*|\+|\?|\{\d*,\d*\})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="attribute">
		<xs:annotation>
			<xs:documentation>Resolved attribute description</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="documentation" type="doc:documentationType" minOccurs="0"/>
			<xs:element name="simpleType" type="doc:modelType" minOccurs="0"/>
		</xs:all>
		<xs:attribute name="name" type="xs:NCName" use="required"/>
		<xs:attribute name="default" type="xs:string" use="optional"/>
		<xs:attribute name="fixed" type="xs:string" use="optional"/>
		<xs:attribute name="form" type="xs:string" use="optional"/>
		<xs:attribute name="id" use="optional"/>
		<xs:attribute name="ref" type="xs:NCName" use="optional"/>
		<xs:attribute name="base" type="xs:Name" use="optional"/>
		<xs:attribute name="type" type="xs:Name" use="optional"/>
		<xs:attribute name="use" type="xs:string" use="optional"/>
		<xs:attribute name="href" type="xs:anyURI" use="optional"/>
	</xs:complexType>
	<xs:complexType name="sourceType">
		<xs:annotation>
			<xs:documentation>Container for the source of a schema component.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Original source of a schema component, formatted as HTML.</xs:documentation>
        </xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="documentationType" mixed="true">
		<xs:annotation>
			<xs:documentation>Container for the documentation of a schema component.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Original documentation of a schema componentor abstract of original.</xs:documentation>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="baseType">
		<xs:annotation>
			<xs:documentation>Base type of type elements.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="doc:attributes.type"/>
		<xs:attribute name="namespace" type="xs:anyURI" use="required"/>
		<xs:attribute name="derivation" type="xs:NCName" use="optional"/>
	</xs:complexType>
	<xs:complexType name="typeNode">
		<xs:annotation>
			<xs:documentation>Node of a type hierarchy.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="doc:baseType">
				<xs:sequence>
					<xs:element name="type" type="doc:typeNode" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>List of child nodes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="componentTypeType">
		<xs:annotation>
			<xs:documentation>Type attribute of a type element.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NCName">
			<xs:enumeration value="complexType"/>
			<xs:enumeration value="simpleType"/>
			<xs:enumeration value="element"/>
			<xs:enumeration value="attribute"/>
			<xs:enumeration value="group"/>
			<xs:enumeration value="attributeGroup"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="attributes.type">
		<xs:annotation>
			<xs:documentation>Common attributes of types.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:NCName" use="required"/>
		<xs:attribute name="type" type="doc:componentTypeType" use="optional"/>
		<xs:attribute name="href" type="xs:anyURI" use="optional"/>
	</xs:attributeGroup>
</xs:schema>
