tags/milestone1/tools/xsddoc-1.0/samples/stress/includedIncluded.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xframe.sf.net/sample/stress" xmlns:include="http://xframe.sf.net/sample/stress" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:simpleType name="includedIncluded1">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="includedIncluded2">
    <xs:restriction base="include:includedIncluded1"/>
  </xs:simpleType>
  <xs:complexType name="complexTypeIncludedIncluded1">
    <xs:attribute name="dummy" type="include:includedIncluded2" use="required"/>
  </xs:complexType>
</xs:schema>
